<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.springframework.ide.eclipse.boot.launch">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/iusteimanserver/src/main/java/com/urzaizcoding/iusteimanserver/IusteimanServerApplication.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="false"/>
    <mapAttribute key="org.eclipse.debug.core.environmentVariables">
        <mapEntry key="API_SECRET" value="$HUoO3&amp;G5rea9kGSS4lwQTZmw5MHrHf1rGushIoo&amp;tf-KH*JT%F.xFza0m9DGjK,ohZU94jiwnry3V7UOa+C41u)SW61T849W.b+"/>
        <mapEntry key="CLOUDINARY_API_KEY" value="454632484517527"/>
        <mapEntry key="CLOUDINARY_API_SECRET" value="lRtoMviEXs-De6q-PIRE7Zuk1O4"/>
        <mapEntry key="CLOUDINARY_CLOUD_NAME" value="dxo1usgj0"/>
        <mapEntry key="SPRING_GMAIL_IUSTE_PASSWORD" value="yffmyuljoyzoijyo"/>
        <mapEntry key="SPRING_GMAIL_IUSTE_PASSWORD_NORMAL_RUN" value="sllhhaiilpyizzxk"/>
        <mapEntry key="SPRING_GMAIL_IUSTE_USERNAME" value="iustecommunication@gmail.com"/>
        <mapEntry key="SPRING_IUSTEIMAN_DB_HOST" value="localhost"/>
        <mapEntry key="SPRING_IUSTEIMAN_DB_NAME" value="iusteimandb"/>
        <mapEntry key="SPRING_IUSTEIMAN_DB_PASS" value=" "/>
        <mapEntry key="SPRING_IUSTEIMAN_DB_PORT" value="5432"/>
        <mapEntry key="SPRING_IUSTEIMAN_USER" value="iusteimanuser"/>
        <mapEntry key="SPRING_PROFILES_ACTIVE" value="dev"/>
    </mapAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.springframework.ide.eclipse.boot.launch.BootMavenClassPathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.urzaizcoding.iusteimanserver.IusteimanServerApplication"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="iusteimanserver"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.springframework.ide.eclipse.boot.launch.BootMavenSourcePathProvider"/>
    <stringAttribute key="process_factory_id" value="org.springframework.ide.eclipse.boot.launch.process.BootProcessFactory"/>
    <stringAttribute key="spring.boot.app.properties" value=""/>
    <booleanAttribute key="spring.boot.dash.hidden" value="false"/>
    <booleanAttribute key="spring.boot.debug.enable" value="false"/>
    <booleanAttribute key="spring.boot.fast.startup" value="true"/>
    <booleanAttribute key="spring.boot.jmx.enable" value="true"/>
    <booleanAttribute key="spring.boot.lifecycle.enable" value="true"/>
    <stringAttribute key="spring.boot.lifecycle.termination.timeout" value="15000"/>
    <booleanAttribute key="spring.boot.livebean.enable" value="false"/>
    <stringAttribute key="spring.boot.livebean.port" value="0"/>
    <stringAttribute key="spring.boot.profile" value=""/>
</launchConfiguration>
